<!-- Author: Sean Pesce -->
<div [ngStyle]="{ 'minWidth.px':minWidth, 'maxWidth.px':maxWidth, 'paddingBottom.px': isMobile() ? 12 : 32 }" class="center-element">
  <mat-card style="padding-top:16px;" [ngStyle]="{ 'minHeight.px':minHeight, 'paddingLeft.px': isMobile() ? 2 : 16, 'paddingRight.px': isMobile() ? 2 : 16, 'paddingBottom.px': isMobile() ? 2 : 16 }">
    <mat-card-header style="width:100%;">
      <a href="{{(project?.website?.length > 0) ? project?.website : ((project?.download?.length > 0) ? project?.download : project?.repository)}}"
          title="{{project?.title + ((project?.website?.length > 0) ? ' website' : ((project?.download?.length > 0) ? ' download' : (project?.repository?.length > 0) ? ' repository' : ''))}}"
          target="_blank" style="text-decoration:none;" class="txt-url-black">
        <mat-card-title style="margin-bottom:10px;">
          <h1 class="mat-h1" style="margin:0px; font-size:26px; text-decoration:none;">{{project?.title}}</h1>
        </mat-card-title>
      </a>
    </mat-card-header>

    <div class="options-bt" *ngIf="showOptionsBt" [matMenuTriggerFor]="optionsMenu" style="position:absolute; right:0px; top:0px; padding:8px;">
      <mat-icon>{{btIconOptions}}</mat-icon>
    </div>
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Overview"></mat-tab>
      <mat-tab label="Media"></mat-tab>
      <mat-tab label="Tools"></mat-tab>
      <mat-tab label="Team" *ngIf="project?.collaborators?.length > 0"></mat-tab>
    </mat-tab-group>
    <mat-card-content [ngStyle]="{ 'display': sectionIndex == 0 ? 'block' : 'none' }" style="padding:16px; text-align:left;" class="bg-color-light">
      <!-- "Overview" tab -->
      <div *ngIf="project?.description?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">Description</h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;">{{project?.description}}</h4>
      </div>
      <div *ngIf="project?.platforms?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">Platform<span *ngIf="project?.platforms?.length > 1">s</span></h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;"><span *ngFor="let platform of project?.platforms; let i = index;">{{PLATFORMS[project?.platforms[i]]}}<span *ngIf="i < (project?.platforms?.length - 1)">,</span> </span></h4>
      </div>
      <div *ngIf="project?.formats?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">Format<span *ngIf="project?.formats?.length > 1">s</span></h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;"><span *ngFor="let format of project?.formats; let i = index;">{{FORMATS[project?.formats[i]]}}<span *ngIf="i < (project?.formats?.length - 1)">,</span> </span></h4>
      </div>
      <div *ngIf="project?.license?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">License</h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;">{{project?.license}}</h4>
      </div>
      <div *ngIf="project?.website?.length > 0 || project?.repository?.length > 0 || project?.download?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">Links</h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;"><span *ngIf="project?.website?.length > 0"><a href="{{project?.website}}" class="txt-url-primary">Website</a><span *ngIf="project?.repository?.length > 0 || project?.download?.length > 0">  |  </span></span><span *ngIf="project?.repository?.length > 0"><a href="{{project?.repository}}" class="txt-url-primary">Repository</a><span *ngIf="project?.download?.length > 0">  |  </span></span><span *ngIf="project?.download?.length > 0"><a href="{{project?.download}}" class="txt-url-primary">Release</a></span></h4>
      </div>
    </mat-card-content>

    <mat-card-content [ngStyle]="{ 'display': sectionIndex == 1 ? 'block' : 'none', 'padding.px': isMobile() ? 2 : 16 }" class="bg-color-light">
      <!-- "Media" tab -->
      <div style="display:inline-block;">
        <div *ngIf="project?.images?.length > 0" style="text-align:center; display:inline-block;">
          <h5 class="mat-h5 txt-color-dark" style="padding-top:12px; margin-bottom:0px; text-align:center;">Image<span *ngIf="project?.images?.length > 1">s</span></h5>
          <mat-card style="padding:0px;" [ngStyle]="{ 'width.px': mediaWidth }">
            <app-slideshow [slides]="project?.images" [useAssetsPath]="false" [width]="mediaWidth" [backgroundColor]="''" [borderWidth]="1" [borderColor]="'#dcdcdc'"></app-slideshow>
          </mat-card>
        </div>
        <div *ngIf="project?.videos?.length > 0" style="text-align:center; display:inline-block; padding-left:8px; padding-right:8px;">
          <h5 class="mat-h5 txt-color-dark" style="padding-top:12px; margin-bottom:0px; text-align:center;">Video<span *ngIf="project?.videos?.length > 1">s</span></h5>
          <mat-card style="width:300px; padding:0px;">
            @TODO
          </mat-card>
        </div>
      </div>
      <h1 class="mat-h1 txt-color-dark" *ngIf="project?.images?.length === 0 && project?.videos?.length === 0" style="margin:0px; font-size:26px; vertical-align:middle; min-height:100px">No media</h1>
    </mat-card-content>

    <mat-card-content [ngStyle]="{ 'display': sectionIndex == 2 ? 'block' : 'none' }" style="padding:16px; text-align:left;" class="bg-color-light">
      <!-- "Tools" tab -->
      <div *ngIf="project?.languages?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">Language<span *ngIf="project?.languages?.length > 1">s</span></h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;"><span *ngFor="let language of project?.languages; let i = index;">{{language}}<span *ngIf="i < (project?.languages?.length - 1)">,</span> </span></h4>
      </div>
      <div *ngIf="project?.utilities?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">Utilit<span>{{(project?.utilities?.length > 1) ? 'ies' : 'y'}}</span></h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;"><span *ngFor="let utility of project?.utilities; let i = index;">{{utility}}<span *ngIf="i < (project?.utilities?.length - 1)">,</span> </span></h4>
      </div>
      <div *ngIf="project?.software?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">Software</h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;"><span *ngFor="let program of project?.software; let i = index;">{{program}}<span *ngIf="i < (project?.software?.length - 1)">,</span> </span></h4>
      </div>
    </mat-card-content>

    <mat-card-content [ngStyle]="{ 'display': sectionIndex == 3 ? 'block' : 'none' }" style="padding:16px; text-align:left;" class="bg-color-light">
      <!-- "Team" tab -->
      <div *ngIf="project?.collaborators?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">Team</h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;"><span *ngFor="let teammate of project?.collaborators; let i = index;">{{teammate?.name}}<span *ngIf="i < (project?.collaborators?.length - 1)">,</span> </span></h4>
      </div>
      <div *ngIf="project?.acknowledgements?.length > 0">
        <h5 class="mat-h5 txt-color-dark" style="padding-top:5px; margin-bottom:-2px;">Contributor<span *ngIf="project?.acknowledgements?.length > 1">s</span></h5>
        <h4 class="mat-h4" style="margin-bottom:5px; line-height:20px;"><span *ngFor="let contributor of project?.acknowledgements; let i = index;">{{contributor?.name}}<span *ngIf="i < (project?.acknowledgements?.length - 1)">,</span> </span></h4>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-menu #optionsMenu="matMenu">
  <button mat-menu-item [title]="'@TODO'" (click)="openNotImplDialog()">@TODO</button>
</mat-menu>
