/* Author: Sean Pesce */

.options-bt {
  color: var(--sp-color-light-hover);
  cursor: pointer;
}

.options-bt:hover {
  background-color: var(--sp-color-light-hover);
  color: var(--sp-color-dark);
}

:host ::ng-deep h4>a, h4>span>a {
  text-decoration: none;
  color: var(--sp-color-primary-saturated);
}

:host ::ng-deep h4>a:hover, h4>span>a:hover {
  color: var(--sp-color-dark);
}
