/* Author: Sean Pesce */
/*
  Reference: https://github.com/angular/material.angular.io/blob/master/src/app/pages/homepage/homepage.scss
*/

.header-section {
  text-align: center;
  padding-top: 60px;
}

.header-headline {
  font-weight: 300;
  color: var(--sp-color-txt-dark-bg);
}

.header-headline h1 {
  font-size: 56px;
  line-height: 56px;
  margin: 15px 5px;
}

.header-headline h2 {
  font-size: 18px;
  line-height: 28px;
  margin: 15px 0 25px 0;
}

.header-button {
  color: var(--sp-color-primary);
}

.header-button:hover {
  opacity: 0.9;
}

.content-section h2 {
  font-size: 25px;
  font-weight: 400;
  padding-left: 16px;
  text-align: left;
}

.content-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 24px 0;
  padding-left: 16px;
  text-align: left;
}

.bg-left-arrow {
  background-image: url('data:image/svg+xml;utf-8,<svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/><path d="M0-.5h24v24H0z" fill="none"/></svg>');
  background-size: 100% 100%;
  background-position: -40px 0px;
  opacity:0.7;
}

.bg-right-arrow {
  background-image: url('data:image/svg+xml;utf-8,<svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>');
  background-size: 100% 100%;
  background-position: 40px 0px;
  opacity:0.7;
}

