<!-- Author: Sean Pesce -->
<header class="header-background">
  <div [ngClass]="' ' + (isMobile() ? 'header-section-mobile ' : 'header-section ')">
    <div [ngClass]="' ' + (isMobile() ? 'header-headline-mobile ' : 'header-headline ')">
      <h1 class="mat-h1">{{AUTHOR}}</h1>
      <h2 class="mat-h2">Cybersecurity Researcher</h2>
    </div>
    <div [ngStyle]="{ 'paddingTop.px': isMobile() ? 0 : 30, 'paddingBottom.px': isMobile() ? 20 : 60 }">
      <a mat-raised-button href="{{ASSETS + 'doc/Resume_SeanPesce.pdf'}}" class="header-button" title="Download resume (PDF)" aria-label="Download resume" target="_blank">
        <mat-icon style="margin-left:-5px; padding-right:5px;">file_download</mat-icon>
        Resume (PDF)
      </a>
    </div>
  </div>
</header>
<div [ngClass]="'content-background ' + (isMobile() ? 'content-section-mobile ' : 'content-section ')">
  <div style="padding-left:10%; padding-right:10%; padding-bottom:50px;">
    <app-slideshow [slides]="slides" [width]="300" [forceWidth]="true"></app-slideshow>
    <div style="justify-content:left; text-align:left; padding-top:3px; display:inline-block; vertical-align:bottom;">
      <div style="display:table-cell; vertical-align:top; height:200px;">
        <h2 class="mat-h2" style="margin-bottom:5px;">About Me</h2>
        <p class="mat-h4" style="max-width:420px;">
          My main interest is information security, both as a hobby and as a profession. In my free time I also enjoy fixing bugs or improving existing features of video games and other software (examples are publicly available on my <a href="https://github.com/SeanPesce" title="https://github.com/SeanPesce" class="txt-url-primary">GitHub profile</a>). When I'm away from the computer I can often be found hiking, exercising, or watching nature documentaries. For more information, check out the rest of the site!
        </p>
      </div>
    </div><!--

--></div>
</div>
