<!-- Author: Sean Pesce -->
<app-page-header [title]="'Degrees & Professional Certifications'"></app-page-header>
<div [ngClass]="'content-background ' + (isMobile() ? 'content-section-mobile ' : 'content-section ')">
  <div style="width:90%; padding-left:5%; padding-right:5%;">
    <app-school-card
      [school]="'Offensive Security Certified Professional'"
      [start]="'November 2020'"
      [end]="'May 2021'"
      [degree]="'Certification ID: OS-101-34893'"
      [url]="'https://www.credly.com/badges/6f2d9c6d-c932-4382-82b2-f29b2f422cef/public_url'"
      [logo]="ASSETS + '/img/logo/OSCP.png'"
      [maxWidth]="800">
    </app-school-card>
    <app-school-card
      [school]="'Stony Brook University'"
      [start]="'September 2013'"
      [end]="'January 2018'"
      [degree]="'Bachelor of Science in Computer Science'"
      [url]="'https://www.stonybrook.edu/'"
      [logo]="ASSETS + '/img/logo/StonyBrookUniversitySquare.png'"
      [maxWidth]="800">
    </app-school-card>
  </div>
</div>
