<!-- Author: Sean Pesce -->

<!-- Invisible image element (used to determine the proportional height for the given width) -->
<img #fullImage style="position:fixed; display:block; opacity:0.0; height:auto; margin:0px; padding:0px;" [src]="imagePath()" [ngStyle]="widthStyle()">

<!-- Visible component -->
<div class="outer-f-img-div" style="margin:0px; padding:0px;" [ngStyle]="dimenStyle()">
  <div [ngStyle]="dimenStyle()" style="display:table;">
    <div style="display:table-cell; vertical-align:middle;">
      <!-- Keep desired width and hide overflow on top/bottom -->
      <img class="inner-f-img-div scale-trans-fix" [src]="imagePath()" [ngStyle]="{'width':widthString(), 'maxWidth':widthString(), 'minWidth':widthString(), 'height':'auto', 'marginTop':(fullImage.offsetHeight>width)?(0-((fullImage.offsetHeight/2.0)-(width/2.0)))+units():0}" style="height:auto;"
        title="{{title}}" alt="{{alt}}" attr.aria-valuenow="{{ariaLabel}}">
    </div>
  </div>
</div>


<!-- Invisible image element (used to determine the proportional width for the given height) -->
<!-- <img #fullImage style="position:fixed; display:block; opacity:0.0; width:auto; margin:0px; padding:0px;" [src]="imagePath()" [ngStyle]="heightStyle()"> -->

<!-- Visible component -->
<!-- <div class="outer-f-img-div" style="margin:0px; padding:0px;" [ngStyle]="dimenStyle()">
  <div [ngStyle]="dimenStyle()" style="display:table;">
    <div style="display:table-cell; vertical-align:middle;"> -->
      <!-- Keep desired height and hide overflow on the left/right -->
      <!-- <img class="inner-f-img-div scale-trans-fix" [src]="imagePath()" [ngStyle]="{'width':widthString(), 'maxWidth':widthString(), 'minWidth':widthString(), 'height':'auto', 'marginTop':(fullImage.offsetHeight>width)?(0-((fullImage.offsetHeight/2.0)-(width/2.0)))+units():0}" style="height:auto;"
        title="{{title}}" alt="{{alt}}" attr.aria-valuenow="{{ariaLabel}}">
    </div>
  </div>
</div> -->
