<!-- Author: Sean Pesce -->

<!-- Invisible image element (used to determine the proportional height for the given width) -->
<img #fullImage class="unselectable" style="position:fixed; display:block; opacity:0.0; height:auto; margin:0px; padding:0px; pointer-events:none;" [src]="imagePath()" [ngStyle]="widthStyle()">

<!-- Visible component -->
<div *ngIf="forceWidth" class="outer-f-img-div" style="margin:0px; padding:0px;" [ngStyle]="dimenStyle()">
  <div [ngStyle]="dimenStyle()" style="display:table;">
    <div style="display:table-cell; vertical-align:middle;" [ngStyle]="{'backgroundColor':backgroundColor}">
      <!-- Keep desired width and hide overflow on top/bottom -->
      <img class="inner-f-img-div scale-trans-fix" [src]="imagePath()" [ngStyle]="{'width':(width-(2*borderWidth))+units(), 'maxWidth':(width-(2*borderWidth))+units(), 'minWidth':(width-(2*borderWidth))+units(), 'height':'auto', 'marginTop':(fullImage.offsetHeight>width)?(0-((fullImage.offsetHeight/2.0)-(width/2.0)))+units():0, 'borderWidth':borderWidth+units(), 'borderColor':borderColor, 'borderStyle':(borderWidth>0)?'solid':''}" style="height:auto;"
        title="{{title}}" alt="{{alt}}" attr.aria-valuenow="{{ariaLabel}}">
    </div>
  </div>
</div>


<div *ngIf="!forceWidth" [ngStyle]="{'backgroundColor':backgroundColor, 'width':widthString(), 'minWidth':widthString(), 'maxWidth':widthString(), 'height':widthString(), 'minHeight':widthString(), 'maxHeight':widthString() }" style="text-align:center;">
  <img *ngIf="fullImage.offsetHeight <= fullImage.offsetWidth" class="inner-f-img-div scale-trans-fix" [src]="imagePath()" [ngStyle]="{'marginTop':(0-((fullImage.offsetHeight/2.0)-(width/2.0)))+units(), 'width':widthString(), 'maxWidth':widthString(), 'minWidth':widthString(), 'height':'auto', 'minHeight':'auto', 'maxHeight':'auto', 'borderWidth':borderWidth+units(), 'borderColor':borderColor, 'borderStyle':(borderWidth>0)?'solid':''}"
        title="{{title}}" alt="{{alt}}" attr.aria-valuenow="{{ariaLabel}}">

  <img *ngIf="fullImage.offsetHeight > fullImage.offsetWidth" class="inner-f-img-div scale-trans-fix" [src]="imagePath()" [ngStyle]="{'marginTop':0, 'width':'auto', 'maxWidth':'auto', 'minWidth':'auto', 'height':widthString(), 'minHeight':widthString(), 'maxHeight':widthString(), 'borderWidth':borderWidth+units(), 'borderColor':borderColor, 'borderStyle':(borderWidth>0)?'solid':''}"
        title="{{title}}" alt="{{alt}}" attr.aria-valuenow="{{ariaLabel}}">
</div>
