<!-- Author: Sean Pesce -->
<div *ngIf="slides?.length > 0" [ngStyle]="{ 'height':widthString() }" style="justify-content:right; display:inline-block; vertical-align:top;"
  (touchstart)="swipeStart($event)" (touchend)="swipeEnd($event)"><!--
  --><div [ngStyle]="heightStyle()" style="display:flex; text-align:right; overflow:hidden; vertical-align:middle; justify-content:center;">
      <app-uniform-image
        [width]="width"
        [src]="src()"
        [title]="title()"
        [alt]="alt()"
        [ariaLabel]="ariaLabel()"
        [useAssetsPath]="useAssetsPath"
        [usePercent]="usePercent"
        [backgroundColor]="backgroundColor"
        [borderWidth]="borderWidth"
        [borderColor]="borderColor"
      >
      </app-uniform-image>
    </div>
  <div (click)="expand()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [ngStyle]="{ 'height':widthString(), 'opacity':0.0, 'marginTop':(0-width)+units(), 'width':widthString() }" style="position:absolute; cursor:pointer; margin-bottom:4px; overflow:hidden;"></div>
  <div class="mat-h5" [ngStyle]="{ 'opacity':(isMobile() || hover || hoverBottom || forceShowButtons) ? 0.5 : 0.0, 'marginTop':(0-(width * 0.1))+units(), 'marginBottom':0, 'width':widthString(), 'height':(width * 0.1)+units(), 'fontSize':(width * 0.06)+units(), 'lineHeight':(width * 0.1)+units() }" style="position:absolute; background-color:black; color:white; overflow:hidden; white-space:nowrap;"><!--
    --><div class="slideshow-bt" style="display:inline-block; text-align:center; cursor:pointer;" (mouseenter)="onMouseEnterBottom()" (mouseleave)="onMouseLeaveBottom()" [ngStyle]="{ 'marginTop':(0-(width * 0.1))+units(), 'marginBottom':0, 'width':((width/3.0)-1)+units() }" (click)="previousSlide()"><mat-icon style="vertical-align:top;" [ngStyle]="{ 'width':(width * 0.1)+units(), 'fontSize':(width * 0.1)+units(), 'opacity':(slides?.length > 1) ? '' : 0.0 }">keyboard_arrow_left</mat-icon></div><!--
    --><div style="display:inline-block; text-align:center;" (mouseenter)="onMouseEnterBottom()" (mouseleave)="onMouseLeaveBottom()" [ngStyle]="{ 'opacity':1.0, 'marginTop':(0-(width * 0.1))+units(), 'marginBottom':0, 'width':((width/3.0)-1)+units() }">{{index+1}}/{{slides?.length}}</div><!--
    --><div class="slideshow-bt" style="display:inline-block; text-align:center; cursor:pointer;" (mouseenter)="onMouseEnterBottom()" (mouseleave)="onMouseLeaveBottom()" [ngStyle]="{ 'marginTop':(0-(width * 0.1))+units(), 'marginBottom':0, 'width':((width/3.0)-1)+units() }" (click)="nextSlide()"><mat-icon style="vertical-align:top;" [ngStyle]="{ 'width':(width * 0.1)+units(), 'fontSize':(width * 0.1)+units(), 'opacity':(slides?.length > 1) ? '' : 0.0 }">keyboard_arrow_right</mat-icon></div><!--
  --></div>
</div>
